* {
  margin: 0;
  padding: 0;
}
main {
  h1 {
    padding-top: 50px;
    color: #db8d26;
  }
  ul {
    padding: 30px 0;
    li {
      padding: 20px 0;
      p {
        padding: 15px 0;
      }
    }
  }
}
